@namespace EventHighway.Portal.Web.Components.Navigation
@using EventHighway.Portal.Web.Models.Views.Navigations
@using Microsoft.AspNetCore.Components.Authorization

<ul class="sidebar-nav">
    @foreach (NavItem item in Items)
    {
        @if (item.Roles is null || item.Roles.Length == 0)
        {
            <li class="nav-item">
                <NavLink class="nav-link"
                         href="@item.Href"
                         Match="@(item.Href == "" ? NavLinkMatch.All : NavLinkMatch.Prefix)">
                    <i class="nav-icon @item.Icon"></i> @item.Title
                </NavLink>
            </li>
        }
        else
        {
            <AuthorizeView Roles="@string.Join(",", item.Roles)" Context="authState">
                <li class="nav-title">@item.Title</li>
                @if (item.Children is not null)
                {
                    @foreach (NavItem child in item.Children)
                    {
                        <li class="nav-item">
                            <NavLink class="nav-link" href="@child.Href" Match="NavLinkMatch.Prefix">
                                <i class="nav-icon @child.Icon"></i> @child.Title
                            </NavLink>
                        </li>
                    }
                }
            </AuthorizeView>
        }
    }
</ul>
